.drawing-cards {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 16px;
}

#image img {
  width: 100%;
}

.page-title {
  text-align: center;
  color: black;
}

.page-title > p {
  font-size: 40px;
}





