<div class="theme-cards">
  <% @themes.each do |theme| %>
    <div class="theme-card">
      <div class="card-image">
        <%= link_to (cl_image_tag theme.photo.key), theme_path(theme) %>
      </div>
      <div class="card-title">
         <%= theme.name.upcase %>
      </div>
    </div>
  <% end %>
</div>












