<div class="theme-cards">
  <% @themes.each do |theme| %>
      <%= link_to theme_path(theme) do %>
        <div class="theme-card" style="background-image: linear-gradient(rgb(80 67 67/ 0.3), rgb(123 72 72 / 0.2)), url('<%= cl_image_path theme.photo.key %>')">
        <%= theme.name.upcase %>
        </div>
      <% end %>
  <% end %>
</div>












