 <div class="drawing-cards">
  <% @theme.drawings.each do |drawing| %>
    <div class="drawing-card">
      <div class="image">
        <%= cl_image_tag drawing.photo.key %>
      </div>
      <div class="title">
        <p><%= drawing.title %>, <%= drawing.date %></p>
      </div>
    </div>
  <% end %>
</div>

