<div class="footer">
  <div class="footer-info">
    <div class="follow">
      <h2>Follow me</h2>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
    <div id="copyright">
      <p>Copyright © Aurélie Foucherot</p>
    </div>
  </div>
</div>
