<div class="header">
  <div class="logo">Logo</div>
  <div class="title"><h1>Aurélie Foucherot</h1></div>
  <div class="langue">French</div>
</div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <%= link_to "ART", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "SHOP", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ABOUT", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

