<div class="navbar">
  <div class="header">
    <div class="logo"></div>
    <div class="title"><h1>Aurélie Foucherot</h1></div>
    <div class="langue">English</div>
  </div>
  <div class="navigation">
    <ul>
      <li>ART</li>
      <li>SHOP</li>
      <li>ABOUT</li>
    </ul>
  </div>
</div>
