<div class="about">
  <div class="about-info">
    <p>Aurélie Foucherot, née à Paris en 1992, dessine depuis qu’elle sait tenir un crayon. Armée de stylos noirs et de papier blanc, elle dessine des labyrinthes et des univers où rien n’est laissé au hasard. Ses illustrations ciselées et complexes éveillent l’imaginaire. Elle noircit régulièrement des carnets de toutes tailles qu’elle publie sur son compte <a href="">Instagram</a>.
    </p>
  </div>
  <div class="about-image">
    <%= cl_image_tag("about_riyzaa.jpg") %>
  </div>
</div>

