.footer {
  background-color: #ffe5d9;
  text-align: center;
  padding: 10px 50px;
  position: absolute;
  bottom: 0;
  width:100%;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 250px;
}

#copyright {
  color: rgba(0, 0, 0, 0.5);
  line-height: 0.6rem;
  font-weight: bold;
  margin-top: 33px;
  text-align: end;
}

.fab:hover {
  opacity: 0.5;
}
