.footer {
  background-color: #ffe5d9;
  text-align: center;
  // height: 140px;
  padding: 10px 50px;
  position: absolute;
  bottom: 0;
  width:100%;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 250px;
}

#copyright {
  color: rgba(0, 0, 0, 0.5);
}

.fab:hover {
  opacity: 0.5;
}
