.header {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e5989b;
  align-items: center;
}

.navbar-lewagon {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  margin-left: 80px;
  margin-right: 80px;
}

h1 {
  font-size: 100px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b74fa1;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #b74fa1;
}

