.header {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e5989b;
  align-items: center;
}

.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 20px;
}

.navbar-collapse {
  text-align: center;
}

h1 {
  font-size: 100px;
}

